html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 300;
    line-height: 1.42;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

b {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.wrapper {
    min-height: 100%;
    /* overflow: hidden; */
    min-width: 1200px;
    /* display: flex;
    flex-direction: column; */
}
/* .wrapper__content {
    flex: 1;
} */
.container {
    width: 1160px;
    margin: 0 auto; 
}
.page__container {
    display: flex;
    overflow: hidden;
}
.main-content {
    width: 75%;
    margin-top: 13px;
    display: flex;
}
.container .container__main-content {
	max-width: 100%;
}
.sidebar {
    width: 25%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;

}


