.footer {
    height: 75px;
    background: #4b73b5;
    color: #fff;
    margin-top: -75px;
    min-width: 1100px;
}
.footer__col:first-child {
    padding-top: 14px;
}
.footer .container {
    height: 75px;
}
.footer__col {
    float: left;
    width: 33.3%;
    height: 100%;
}
.footer__about {
    font-size: 14px;
}
.footer__desc-link {
    color: white;
    font-weight: bold;
}
.footer__col_middle {
    position: relative;
}
.footer__col_right {
    text-align: right;
    padding-top: 14px;
}
.footer__col_middle .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.socials {
    display:inline-block;
    text-align: left;
}
.socials__title{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
.social__link {
    display: block;
    width: 20px;
    height: 20px;
    background: url('../../img/icon/css_sprites.png') 0 0 no-repeat;

}