.footer {
    height: 75px;
    background: #4b73b5;
    color: #fff;
    margin-top: -75px;
    min-width: 1100px;
}
.footer__col:first-child {
    padding-top: 14px;
}
.footer .container {
    height: 75px;
}
.footer__col {
    float: left;
    width: 33.3%;
    height: 100%;
}
.footer__about {
    font-size: 14px;
}
.footer__desc-link {
    color: white;
    font-weight: bold;
}
.footer__col_middle {
    position: relative;
}
.footer__col_right {
    text-align: right;
    padding-top: 14px;
}
.footer__col_middle .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.socials {
    display:inline-block;
    text-align: left;
}
.socials__title{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
}
.socials__item {
    display: inline-block;
    margin-right: 10px;
}
.socials__link {
    display: block;
    width: 20px;
    height: 20px;
    background: url('../../img/icon/css_sprites.png') center center no-repeat;
}
.socials__link.socials__link_vk {
    background-position-x: -10px;
}
.socials__link.socials__link_fb {
    background-position-x: -90px;
}
.socials__link.socials__link_gp {
    background-position-x: -170px;
}
.socials__link.socials__link_tw {
    background-position-x: -250px;
}
.socials__link.socials__link_mail {
    background-position-x: -330px;
}
.socials__link_vk:hover {
    background-position-x: -50px;
}
.socials__link_fb:hover {
    background-position-x: -130px;
}
.socials__link_gp:hover {
    background-position-x: -210px;
}
.socials__link_tw:hover {
    background-position-x: -290px;
}
.socials__link_mail:hover {
    background-position-x: -370px;
}