.header {
    background: #4b73b5;
    padding: 15px 0 16px 0;
    
}
.header__container {
    display: flex;
    
}
.header__col {
    flex: 1;
    display: flex;
    align-items: center;
}
.header__col-align-right {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
/* .header__left,
.header__right {
    float: left;
    width: 50%;
    
}


.contacts {
    /* display: inline-block; */
    line-height: 1.05;
  
}
.contacts__tel-number {
    font-weight: bold;
    color: white;
    font-size: 21px;
    text-decoration: none;
  }
  .schedule__day {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: white;
    opacity: .7;
  }