.header {
    background: #4b73b5;
    padding: 15px 0 16px 0;
    
}
.header__container {
    display: flex;
    
}
.header__col {
    flex: 1;
    display: flex;
    align-items: center;
}
.header__col-align-right {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
/* .header__left,
.header__right {
    float: left;
    width: 50%;
    
}

.header__right {
    text-align: right;
} */
.contacts {
    /* display: inline-block; */
    line-height: 1.05;
  
}
.contacts__tel-number {
    font-weight: bold;
    color: white;
    font-size: 21px;
    text-decoration: none;
  }
  .schedule__day {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: white;
    opacity: .7;
  }
  .schedule {
    text-align: end;
    
  }
  .schedule__wrapper {
    
    overflow: hidden;
    height: 0;
    width: 163px;
    border: none;
    border-radius: 2px;
    transition: height 0.5s;
    font-size: 14px;
    cursor: pointer;
    
  }
  .schedule__block {
    margin-top: 15px;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 15px 15px;
    text-align: left;

  }
  .schedule__block:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -15px;
    right: 0;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 0 15px 15px 15px;
  }
  .schedule:hover .schedule__wrapper {
    height: 80px;
  }
  .schedule__week {
      color: #4b73b5;
      font-weight: bold;
  }