.content {
    display: inline-block;
	float: left;
    width: 880px;
    margin-top: 13px;
}
.page-image {
    width: 920px;
	height: 300px;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
}
/* Отзывы */
.rates {
	margin-bottom: 36px;
}
.title {
    font-weight: bold;
	font-size: 49px;
	color: #221f1f;
	
	margin-bottom: 18px;
}

.rates-item {
	display: inline-block;
	width: 250px;
	border: 1px solid #e8e9ed;
	border-radius: 5px;
	box-sizing: border-box;
	padding-right: 22px;
	padding-left: 22px;
}
.rates-item:first-child {
	border: none;
	box-sizing: border-box;
	margin-right: 16px;
}

.rates-item:last-child {
	border: none;
	box-sizing: border-box;
    margin-left: 18px;
   
}
.rates-item__link {
    margin: 0 auto;
	width: 68px;
	height: 68px;
	background: #4b73b5;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	display: block;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 24px;
	border-radius: 50%;
}
.rates-item__img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.rates-description__name {
    font-weight: bold;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 18px;
	letter-spacing: 2px;
}
.rates-description__text,
.rates-description__list {
    font-size: 18px;
	
}

.rates-description__text {
    line-height: 1.7;
	text-align: center;
}
.rates-description__list {
    list-style-type: disc;
	line-height: 2;
	margin-bottom: 8px;
	padding-left: 18px;
}
.rates-description__item {
    padding-left: 10px;
}
.rates-description__price{
    font-weight: bold;
	font-size: 54px;
	text-align: center;
	margin-bottom: 35px;
	font-family: roboto regular;
}
.rates-description__dollar {
    font-size: 30px;
	font-family: roboto regular;
	margin-right: 5px;
}
/* Новости */
.news-list {
	padding-top: 12px;
}
.news-item {
    border-bottom: 2px solid #f5f5f5;
	margin-top: 25px;
	padding-bottom: 28px;
}
.news-item:last-child {
    border-bottom: none;
}

.news-item__pic {
	display: inline-block;
    width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin-right: 20px;
}
.news-item__desc {
	display: inline-block;
	float: left;
	width: 700px;
}
.news-item__date {
    font-size: 14px;
	color: #989898;
	font-weight: lighter;
	padding-bottom: 6px;  
}
.news-item__name {
    font-weight: bold;
	font-size: 18px;
	
}
.news-item__text {
    font-size: 18px;
	
	line-height: 1.7;
}

