.page-image {
	margin-bottom: 5px;
}

.content {
	display: flex;
	flex-direction: column;
}

.picture {
	display: block;
	max-width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

/* Тарифы */
.rates {
	margin-bottom: 10px;
}

.title__h3 {
	font-weight: bold;
	/* font-size: 49px; */
	font-size: 18px;
	color: #221f1f;
	margin-top: 23px;
	margin-bottom: 23px;
	text-align: center;
	text-transform: uppercase;
}

.rates-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.rates-item {
	/* flex: 1 0 250px; */
	/* display: inline-block; */
	/* width: 250px; */
	flex: 1;
	max-width: 100%;
	border: 1px solid #e8e9ed;
	border-radius: 5px;
	box-sizing: border-box;
	padding-right: 39px;
	padding-left: 36px;
	margin-right: 25px;
}

/* .rates-item:first-child {
	border: none;
	box-sizing: border-box;
	margin-right: 16px;
}

.rates-item:last-child {
	border: none;
	box-sizing: border-box;
	margin-left: 18px;

} */

.rates-item__link {
	margin: 0 auto;
	width: 68px;
	height: 68px;
	background: #4b73b5;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	display: block;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 24px;
	border-radius: 50%;
}

.rates-item__img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.rates-description__name {
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 2px;
}

.rates-description__text,
.rates-description__list {
	font-size: 18px;

}

.rates-description__text {
	line-height: 1.7;
	text-align: center;
}

.rates-description__list {
	list-style-type: disc;
	line-height: 2;
	margin-bottom: 3px;
	padding-left: 18px;
}

.rates-description__item {
	padding-left: 10px;
}

.rates-description__price {
	font-weight: bold;
	font-size: 54px;
	text-align: center;
	margin-bottom: 35px;
	font-family: roboto regular;
}

.rates-description__dollar {
	font-size: 30px;
	font-family: roboto regular;
	margin-right: 5px;
}

/* Новости */
.news-list {
	display: flex;
	flex-direction: row;
	/* padding-top: 12px; */
}

.news-item {
	/* border-bottom: 2px solid #f5f5f5; */
	flex: 1;
	width: 33.3%;
	margin-top: 25px;
	padding-bottom: 28px;
	display: flex;
	flex-flow: column;
}

/* .news-item:last-child {
	border-bottom: none;
} */
.news-item__avatar {
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	
}
.news-item__pic {
	display: block;
	max-width: 100%;
	max-height: 160px;
	border-radius: 50%;
	margin: 0 auto;
}

.news-item__desc {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	max-width: 100%;
	margin-top: 40px;
	margin-left: 5px;
}

.news-item__date {
	font-size: 14px;
	color: #989898;
	font-weight: lighter;
	padding-bottom: 6px;
}

.news-item__name {
	font-weight: bold;
	font-size: 18px;
}

.news-item__text {
	font-size: 14px;
	line-height: 1.7;
}