.page {
    margin-bottom: 20px;
}
.title {
    font-weight: bold;
    font-size: 49px;
    color: #221f1f;
    
    margin-bottom: 30px;
}

/* Экипаж */
.team__list {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    
}

.team__item {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    

    align-items: center;
    
}

.team__item__avatar {
    display: block;
    position: relative;

}

.team__item__photo {
    display: block;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    z-index: 5;
    
}

.team__item__name {
    display: block;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team__item__filter {
    display: block;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background-color: rgba(75, 115, 181, .6);
    z-index: 9;
    cursor: pointer;
    margin-top: -160px;
    position: absolute;
}

.team__item__filter:hover {
    transition: all 0.5s;
	-webkit-transition: all 0.5s;
    opacity: 0;
}

.team__item__desc {
    display: flex;
    width: 270px;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
}

.team__item__fullname {
    font-weight: bold;
    font-size: 18px;
}

.team__item__post {
    color: #87a2ce;
    font-weight: bold;
}

.team__item__about {
    margin-top: 10px;
}

/* Партнеры */
.partners {
    margin-right: 25px;
}
.partners__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #e8e9ed;
	border-radius: 5px;
    box-sizing: border-box;
    
}

.partners__item {
    flex: 1 0 270px;
    margin-bottom: 40px;
    cursor: pointer;
    
    
}

.partners__link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners__item:first-child {
    
    margin-bottom: 20px;
}
.partners__logo {
    max-width: 100%;
    max-height: 100%;
    filter: grayscale(100%);
}
.partners__logo:hover {
    filter: grayscale(0);
    transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
